body {
  scroll-behavior: smooth;
}

.jumbotron {
  padding-top: 10rem;
  background-color: #00001b;
}

#projects {
  background-color: #00001b;
}

#contact {
  background-color: #00001b;
}
#certificate {
  background-color: #474753;
}

section {
  padding-top: 5rem;
}

.card {
  cursor: pointer;
}
